h1, h2, h3 {
  font-family: futura, sans-serif;
}

.pane {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 408px;
  background: #f1f1f1;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

.pane-collapsed {
  box-shadow: none;
  -webkit-transform: translateX(-408px);
  transform: translateX(-408px);
}

.pane-content {
  z-index: 10;
  position: absolute;
  left: 10px;
  right: 10px;
  padding: 10px 20px 10px 10px;
}

#red-text {
  color: #CF4C5B;
  font-weight: lighter;
}

#pane-toggle-button-container {
  position: absolute;
  top: 8px;
  left: 100%;
}

#pane-toggle-button {
  z-index: -1;
  width: 23px;
  height: 48px;
  cursor: pointer;
  border-left: 1px solid #D4D4D4;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

#map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#redlining-map {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#sources {
  position: absolute;
  bottom: 0;
}

#legend-container {
  bottom: 40px;
}

#legend {
  padding: 5px;
  font-size: 14px;
}

#legend h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

#legend b {
  font-family: futura, sans-serif;
}

.legendItem {
}

.legendItem::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 16.5px;
  border: 2px solid #FFF;
  position: relative;
  top: 4px;
  margin-right: 5px;
}

.gradeA::before {background-color: #6F9929}
.gradeB::before {background-color: #94B1B8}
.gradeC::before {background-color: #E6DD55}
.gradeD::before {background-color: #CF4C5B}
